# Companies left Russia while sanction period. Сleaning data.

- Importing needed libraries.
- Initializing constant string values for databases' pathes.

In [97]:
import pandas as pd

DATAPATH = '/Users/suchkow/loc/git/companies-left-russia/data/' # path to folder with stored data files
COMP_DB = 'db.tsv'      # (major) database with the list of the companies
REGS_DB = 'regions.csv' # (minor) database with regions & countries from each of them
RUS_DB = 'ru_eng.tsv'

- Reading both databases from files (tsv & csv).
- Printing major table.

In [98]:
comp_df = pd.read_csv(DATAPATH + COMP_DB, sep='	', header=0, on_bad_lines='skip')
regs_df = pd.read_csv(DATAPATH + REGS_DB, header=0, on_bad_lines='skip')
couns_df = pd.read_csv(DATAPATH + RUS_DB, sep='	', header=0, on_bad_lines='skip')

In [99]:
regs_df.drop([160, 158, 2, 45, 57, 66, 90, 127, 163], axis=0, inplace=True)
regs_df.style.highlight_null(color='yellow')

In [100]:
couns_df.style.highlight_null(color='yellow')

In [54]:
comp_df.loc[:5].style.highlight_null(color='yellow')

- Merging two pandas' DataFrames by mutual column "Country".
- Getting a new column in major databse with column "Regions" from minor one.

Initial major table: 2023 entries.
Outer-merged major table (enhanced with regions): 2243 entries; +220 more entries.

- We've got 220 more rows due to the fact that some countries left alone without any matching ones. Moreover, about 300 countries were written in Cyrillic (Russian), so they lack coincided Latin-written (English) countries.

Below I've reflected the decoding of abbreviations in a nice small table.

In [46]:
regs_ls = [
    'NE','EE','WE','SE',
    'NAf','EAf','WAf','SAf','CAf',
    'AO',
    'NAs','EAs','WAs','SAs','CAs','SEAs',
    'NAm','SAm','CAm',
    'C'
]

regs_full_ls = [
    'Northen Europe', 'Western Europe', 'Eastern Europe', 'Southern Europe',
    'North Africa', 'West Africa', 'East Africa', 'South Africa', 'Central Africa',
    'Australia and Oceania',
    'North Asia', 'Western Asia', 'East Asia', 'South Asia', 'Central Asia', 'Southeast Asia',
    'North America', 'South America', 'Central America',
    'Carrebian'
]

regs_abb_df = pd.DataFrame(
    list(zip(regs_ls, regs_full_ls)), columns =['Abbreviation', 'Region']
)

# regs_abb_df.head(20)

---

In [43]:
# comp_df.pop('Action')

In [42]:
# comp_df